<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple layout</title>
    <link rel="stylesheet" href="main.css" />
</head>

<body>
    <h1>Our Menu</h1>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="food-container">
                <div class="title">Chicken</div>
                <div class="text-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, quo veniam necessitatibus dolorem asperiores nisi, similique dolor rem suscipit mollitia modi cupiditate libero quis atque provident. Fuga excepturi deleniti eligendi!
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="food-container">
                <div class="title">Beef</div>
                <div class="text-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam officia excepturi corrupti molestias tenetur voluptates perferendis magnam exercitationem nam dolorem, a quae laudantium pariatur iste facere consequatur cupiditate itaque praesentium!
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="food-container">
                <div class="title">Sushi</div>
                <div class="text-content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, hic numquam reiciendis iste iure unde exercitationem delectus. Fugiat, illum qui. Tempore ut neque incidunt officia corrupti porro repellat quae fugit! Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Corrupti quasi tempora quo earum nulla ab deleniti?
                </div>
            </div>
        </div>
    </div>
</body>

</html>